@font-face {
    font-family: 'Fever Type';
    src: url('https://cdn.prod.website-files.com/66867df375da26c8c8d40575/6686818de8082b217a4e583f_GraphikMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fever Type';
    src: url('https://cdn.prod.website-files.com/66867df375da26c8c8d40575/6686818dc1045662510ea72e_GraphikThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fever Type';
    src: url('https://cdn.prod.website-files.com/66867df375da26c8c8d40575/6686818dcb1583e376702d82_GraphikBlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fever Type';
    src: url('https://cdn.prod.website-files.com/66867df375da26c8c8d40575/6686818d7da154ec616bcdd3_GraphikLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fever Type';
    src: url('https://cdn.prod.website-files.com/66867df375da26c8c8d40575/6686818dc5c6c7b40892f3ef_GraphikSemibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fever Type';
    src: url('https://cdn.prod.website-files.com/66867df375da26c8c8d40575/6686818d375da26c8c8d4058_GraphikRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
